$highlighted: yellow;
$primary-dark: #00ab94;
$primary-darkest: #007f6e;
$primary-light: #2ad5be;
$primary-lightest: #54dcc9;
$quaternary: #ff6a00;
$quaternary-dark: #ff6a00;
$quaternary-darkest: #cb5400;
$quaternary-light: #ff8732;
$quaternary-lightest: #ffa361;
$secondary: #145cd5;
$secondary-dark: #0948b3;
$secondary-darkest: #073686;
$secondary-light: #3b76d9;
$secondary-lightest: #6291df;
$tertiary: #ffa400;
$tertiary-dark: #ffa400;
$tertiary-darkest: #cb8200;
$tertiary-light: #ffb632;
$tertiary-lightest: #ffc761;