.column.is-2
  .section
    .container
      %aside.menu
        %p.menu-label General
        %ul.menu-list
          %li
            = link_to "Decks", decks_path
          %li
            = link_to "Quizzes", quizzes_path
          %li
            = link_to "Statistics", stats_path