.column.is-2
  .section
    .container
      %aside.menu
        %p.menu-label General
        %ul.menu-list
          %li
            %a Decks
          %li
            %a Quizzes
          %li
            %a Stats